<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

        <div class="input-group rounded mb-3">
            <ng-select style="width: 100%;" 
              placeholder="Search city name and hit enter"
              [items]="locationList"
              [minTermLength]="4"
              [searchable]="true"
              [clearable]="true"
              bindLabel="LocalizedName"
              (change)="getForecast(selectedLocation.Key)"
              (keydown.enter)="searchLocation($event)"
              [(ngModel)]="selectedLocation">
            </ng-select>
        </div>
        <div class="card shadow-0 border">
          @if (selectedLocation) {
          <div  class="card-body p-4">
            <h4 class="mb-1 sfw-normal">{{ selectedLocation.LocalizedName }}, {{ selectedLocation.Country.ID }}</h4>
            <p class="mb-2">Current temperature: <strong> {{ currentData.Temperature.Metric.Value }}°C </strong></p>
            <p><strong>{{currentData.WeatherText}}</strong></p>
            <p>Max: <strong>{{ weatherData.DailyForecasts[0].Temperature.Maximum.Value }}°C </strong>, Min: <strong>{{ weatherData.DailyForecasts[0].Temperature.Minimum.Value }}°C</strong></p>
            <p>Day: <strong>{{ weatherData.DailyForecasts[0].Day.IconPhrase }} </strong>, Night: <strong>{{ weatherData.DailyForecasts[0].Night.IconPhrase }}</strong></p>
          </div>
        } @else {
          <div class="card-body p-4"></div>
        }
        </div>

      </div>
    </div>

  </div>
</section>